#projects {
    background-color: gray;
    scroll-snap-type: y mandatory;
}
#projects .project {
    scroll-snap-align: start;
}
.projects-header {
    font-size: 3em;
}
.project {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20em 0;
}
.project-header {
    font-size: 2em;
}
.project-gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30em;
}
.project-gif {
    height: 100%;
}