#projects {
    scroll-snap-type: y mandatory;
    padding-top: 5em;
}
#projects .project {
    scroll-snap-align: start;
}
.project-header {
    font-size: 2em;
}
.project-gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30em;
}
.project-gif {
    height: 100%;
}