.headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    border: 1px solid #ffad41;
    border-radius: .25em;
}

.headshot {
    width: 100%;
    border-radius: .25em;
}
.home-header {
    font-size: 3em;
    color: #ffad41;
    font-weight: 100;
    text-align: center;
}
#home {
	background-image: url('../../images/pictures/home-background.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}