.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 1em 0;
}
.navbar-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.navbar-list-item {
    padding: 1em;
}
.navbar-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon {
    margin-right: .25em;
}
.section-icon {
    margin-right: 1em;
}
.nav-brand-name {
    margin-left: 1em;
}